body{
margin: 0;
padding: 0
}

#topbar {
	background-color: #75B2DD;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	}
	
#brand{
	margin-left: 45%;
	margin-top: 5px;
	color: white;
	font-size: 40px;
	font-family: Tahoma;
}
	
#about{
	margin-left:600px;
	color:white;
	font-size: 20px;
}

#maintext{
	padding: 24px;
	color: ;
	margin-left:400px;
	top: 60px;
	position:fixed;
	width: 60%;
	font-size: 17px;	
	}