#posts {
	padding-top: 20px;
  width: 800px;
  margin: 0 auto;
  font-family: Tahoma;
	font-size: 17px;
}

body {
	margin: 0;
	padding: 0;
}

#topbar {
	background-color: #75B2DD;
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
}


#searches{
	color:black;
	font-size: 20px;
	font-family: Tahoma;
}

li{
	font-family: Tahoma;
	font-size: 17px;
}

#brand{
	margin-left: 45%;
	margin-top: 5px;
	color: white;
	font-size: 40px;
	font-family: Tahoma;

}

#inputbox{
	padding-top: 80px;
}

#about{
	margin-left:600px;
	color:white;
	font-size: 20px;
	text-decoration: none !important;

}